/* CSS Document */
*{
    margin:0;
    padding:0;
  }
  
  body{
    margin:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    font-size:17px;
    color:#926239;
    line-height:1.6;
  }

  #showcase{
    background-image:url('https://placekitten.com/200/300');
    background-size:cover;
    background-position:center;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 20px;
  }